In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import librosa

# Exctract data from titles

## Get file names

In [4]:
# Use relative file path to get directory of files"
path = "../raw_data/1-24 Audio Song and speech"

# Use os library to get file_names
directories = os.listdir(path)

### Process each filename to create arrays with important elements

In [5]:
# Initialize empty arrays for each field
speech_song = []
emotion = []
intensity = []
statement = []
repetitions = []
actor_id = []
gender = []

# Use for loop to process each file name.
for file in directories:
    f = file[0:-4]
    f = f.split("-")
    speech_song.append(f[1])
    emotion.append(f[2])
    intensity.append(f[3])
    statement.append(f[4])
    repetitions.append(f[5])
    actor_id.append(f[6])
    gender.append(int(f[6]) % 2)

In [6]:
# Create the empty data frame.
df = pd.DataFrame()

# Create the columns in the dataframe using arrays
df["speech_song"] = speech_song
df["emotion"] = emotion
df["intensity"] = intensity
df["statement"] = statement
df["repetitions"] = repetitions
df["actor_id"] = actor_id
df["gender"] = gender

In [7]:
# Create a gender in string version
df["gender_s"] = df["gender"].apply(lambda x: "Male" if x == 1 else "Female")


# Create an emotion dict to map the emotions
emotion_dict = {"01":"Neutral", "02":"Calm", "03":"Happy", "04":"Sad", "05":"Angry", "06":"Fearful"}

#Create a string column of the emotions and map them to emotion_dict
df["emotion_s"] = df["emotion"].map(emotion_dict)

# Get a dummies df of the emotions_strings
dummies = pd.get_dummies(df["emotion_s"])

# Horizontally concat the dummies df with original df.
df = pd.concat([df, dummies], axis=1)

df

,speech_song,emotion,intensity,statement,repetitions,actor_id,gender,gender_s,emotion_s,Angry,Calm,Fearful,Happy,Neutral,Sad
0,01,06,01,02,02,02,0,Female,Fearful,0,0,1,0,0,0
1,01,05,01,02,01,16,0,Female,Angry,1,0,0,0,0,0
2,02,03,02,02,02,16,0,Female,Happy,0,0,0,1,0,0
3,02,03,02,02,02,02,0,Female,Happy,0,0,0,1,0,0
4,01,06,01,02,02,16,0,Female,Fearful,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,02,04,01,01,02,23,1,Male,Sad,0,0,0,0,0,1
2064,01,02,02,01,01,23,1,Male,Calm,0,1,0,0,0,0
2065,01,02,01,02,01,23,1,Male,Calm,0,1,0,0,0,0
2066,02,04,02,02,02,23,1,Male,Sad,0,0,0,0,0,1
2067,01,01,01,02,02,23,1,Male,Neutral,0,0,0,0,1,0

In [6]:
pip freeze | grep librosa

librosa==0.8.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
y, sr = librosa.load(librosa.ex('nutcracker'))

Downloading file 'Kevin_MacLeod_-_P_I_Tchaikovsky_Dance_of_the_Sugar_Plum_Fairy.ogg' from 'https://librosa.org/data/audio/Kevin_MacLeod_-_P_I_Tchaikovsky_Dance_of_the_Sugar_Plum_Fairy.ogg' to '/Users/franbaiz/Library/Caches/librosa'.

In [9]:
hop_length = 512

In [10]:
y_harmonic, y_percussive = librosa.effects.hpss(y)